@media(max-width: 396px)
{
    section#about 
    {
        padding: 20px;
    }
    section#about .content
    {
        margin-top:20px;
    }
    section#about .content .contentBox
    {
        padding:20px;
        margin-bottom:0px;
    }
    section#about .content .contentBox p
    {
        font-size:16px;
        line-height: 26px;
        font-weight: 600;
    }
    section#about .content .imageBox img
    {
        object-fit: cover;
    }
    section#about .content .imageBox 
    {
        margin-top:0;
        padding:20px;
        margin-left:0px;
    }


}